.editable-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-family: Helvetica;
}

.editable-text > * {
    font-size: 1.5rem;
}

.editable-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.editable-input > input {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Helvetica;
}

.editable-input > input:focus {
    text-align: center;
    border: none;
    outline: none;
}