/* Dans votre fichier CSS pour DeleteZone */
.deleteZone {
    width: 20%;
    border: 2px dashed red;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe0e0;
    margin: 20px 0px 20px 20px;
}
