.slider-container {
  text-align: center;
  margin: 20px;
}

.slider-label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.slider-input {
  width: 100%;
  height: 8px;
  margin-top: 8px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s;
}

.slider-input:hover {
  background-color: #ccc;
}

.slider-input::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
  cursor: pointer;
}

.slider-input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-p {
  margin-top: 10px;
  font-weight: bold;
}