.title-component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Helvetica;
}

.title-component input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  font-weight: 800;
  font-family: Helvetica;
}

.title-component input:focus {
  text-align: center;
  border: none;
  outline: none;
}

.title-component h1 {
  margin: 0;
}

/* Ajoutez d'autres styles selon vos besoins */