/* src/components/DropZone.css */
.dropZone {
    flex: 1;
    min-height: 500px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    margin: 20px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: auto;
}

.box {
    background-color: #999;
    border: 1px solid black;
}

.dropZone:empty:before {
    content: "Glissez et déposez des éléments ici";
    color: #999;
    text-align: center;
}

.dropZone:not(:empty) {
    border-style: solid;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.dropZone-element {
    display: flex;
    cursor: grab;
    flex: 1;
    height: 100%;

}

.dropZone-element:active {
    cursor: grabbing;
}