.draggableZone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 100vh; /* Prendre toute la hauteur de l'écran */
}

/* Styles pour les catégories (listes déroulantes) */
.draggableZone-category {
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
}

.draggableZone-category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    transition: background-color 0.3s ease;
}

.draggableZone-category-header:hover {
    background-color: #f0f0f0;
}

.draggableZone-category-content {
    background-color: #ffffff;
}

/* Styles pour les éléments draggables */
.draggableZone-element {
    height: 48px;
    padding: 5px;
    cursor: grab;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.draggableZone-element:first-child {
    border-top: 1px solid #e0e0e0;
}

.draggableZone-element:last-child {
    border-bottom: 0px;
}

.draggableZone-element:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.draggableZone-element:active {
    cursor: grabbing;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Bouton d'export */
.draggableZone-export {
    max-height: 30px;
    margin-left: 20px; /* Espacement à gauche */
    margin-right: 20px; /* Espacement à droite */
    margin-bottom: 20px; /* Espacement en bas */
    padding: 12px 24px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.draggableZone-export-is-alone {
    margin-top: auto; /* Pousse le bouton vers le bas */
}

.draggableZone-export:hover {
    background-color: #2980b9;
}

.draggableZone-export:active {
    background-color: #1c5980;
}

.draggableZone-clear {
    max-height: 30px;
    margin-top: auto; /* Pousse le bouton vers le bas */
    margin-left: 20px; /* Espacement à gauche */
    margin-right: 20px; /* Espacement à droite */
    margin-bottom: 10px; /* Espacement en bas */
    padding: 12px 24px;

    background-color: #db3437;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.draggableZone-clear:hover {
    background-color: #a02527;
}

.draggableZone-clear:active {
    background-color: #5d1516;
}

.draggableZone-clear:disabled {
    background-color: #5d5354;
    cursor: not-allowed;
}