.draggableZone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    background-color: #f0f0f0;
    overflow-y: auto; /* Pour le défilement si beaucoup de composants */
    padding: 10px;
}

.draggableZone-element {
    cursor: grab;
}

.draggableZone-element:active {
    cursor: grabbing;
}

.draggableZone-export {
    display: flex;
    justify-content: center;
    align-items: center;
}
