.input-field {
    flex: 1;
    /* margin-bottom: 15px; */
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
